* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form {
    margin: 1rem 0 1rem 0;
}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.3rem;
}


form input {
    border: 1px solid lightgrey;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.selectContainer img {
    max-width: 1.75rem;
}

.selectContainer {
    display: flex;
    width: 6rem;
    background-color: beige;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid lightblue;
}

.selectContainer select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
}

button {
    height: 2rem;
    background-color: #aae44d99;
    font-size: 1.1rem;
    cursor: pointer;

}